body {
    background: #f4f4f9;
    font-family: system-ui, sans-serif;
    padding: 0 5%;
    margin: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 1em;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-delete {
    background: #ff4444;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 1.2em 2em;
}